
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Dev" class="org.example.Dev" autowire="byName">
<!--        <property name="age" value="12"/>-->
<!--        <constructor-arg value="14"/>-->
<!--        <property name="com" ref="lap1"/>-->
    </bean>
    <bean id="com" class="org.example.laptop">
    </bean>
    <bean id="desk" class="org.example.Desktop">
    </bean>

</beans>